/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Google Font  */

/* shared style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font:"Poppins", sans-serif;
    --secondary-font:"Inter", sans-serif;
    --primary-color:#3A3A3A;
    --btn-color:#E02C6D;
}

.primary-font{
    font-family: var(--primary-font);
    
}

.container-width , main > section {
    max-width: 1220px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
    justify-content: space-between;
}

.padding {
    padding: 100px 0px;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.paragraph{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.primary-btn{
    background-color: var(--btn-color);
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.image{
    width: 100%;
}

/* Main Styles */
/* nav styles */
#nav-container {
    padding: 45px 0 100px;
    align-items: center;
}
.nav-item{
    gap:34px;
}

.nav-item li {
    list-style:none;
}

.nav-item li a {
    text-decoration: none;
}
/* Hero Styles */

.hero-container {
    align-items:center ;
}

.hero-content {
    max-width: 582px;
}

.hero-title {
    font-size: 3.2rem;
    line-height: 70px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 16px;

}

#influencer{
    display: block;
}

.hero-content button {
    margin-top: 16px;
}

.hero-image{
    max-width: 475px;
    background-image: url(../images/Circle\ design.svg);
}